@font-face {
  font-family: 'san francisco';
  src: url('/assets/fonts/SF-Pro-Text-Regular.otf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'san francisco';
  src: url('/assets/fonts/SF-Pro-Text-Black.otf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'san francisco';
  src: url('/assets/fonts/SF-Pro-Text-Semibold.otf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
